.groups {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin: 0 !important;
  color: var(--fanyu-color-text) !important;
}
