.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin: 0 !important;
  color: var(--one-color-text) !important;
}

.ratioGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ratioTitle {
  color: var(--one-color-text-secondary);
  font-size: 13px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
}
