.bar {
  align-self: flex-start;
  margin-top: 4px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  margin-left: -6px;
}

.icon:first-child {
  margin-left: 0;
}

.label {
  white-space: nowrap;
  font-size: 12px;
}
